[submodule ".vim/3rds-plugins/vim-pathogen"]
	path = .vim/3rds-plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/VIMPlugins"]
	path = .vim/VIMPlugins
	url = https://github.com/piffall/VIMPlugins.git
[submodule ".vim/3rds-plugins/Vundle"]
	path = .vim/3rds-plugins/Vundle
	url = https://github.com/gmarik/Vundle.vim.git
