[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/custom-plugins/vim-pathogen"]
	path = .vim/custom-plugins/vim-pathogen
	url = https://github.com/piffall/vim-pathogen.git
